In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [3]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.linear_model import LinearRegression

In [4]:
#getting data from csv file
data = pd.read_csv('data/data.csv')
display(data)

,StudentID,Name,Gender,ParentalSupport,PreviousGrade,StudyHoursPerWeek,ExtracurricularActivities,AttendanceRate,FinalGrade
0,0,Shaun Caldwell,Female,Medium,77.483571,24.996777,1,61.248217,79.324988
1,1,Michael Simmons,Male,Low,49.308678,16.623168,0,53.554813,56.435792
2,2,Bryan Snyder,Male,High,88.238443,25.298152,5,62.075801,94.707872
3,3,Justin Jacobs,Female,Low,57.615149,8.765316,1,50.000000,62.502877
4,4,Paul Holder,Female,Medium,73.829233,21.491117,2,50.000000,82.103799
...,...,...,...,...,...,...,...,...,...
995,995,Tony Wilson,Male,High,83.594499,30.350751,2,76.774805,99.000000
996,996,Roger Nguyen,Female,Medium,83.988433,17.867394,5,62.577525,70.920444
997,997,Maria Morris,Male,Low,53.204214,7.590627,2,50.000000,47.788949
998,998,Warren Berry,Male,Medium,72.144105,17.184665,0,73.341764,89.698660
999,999,Jeffery White,Female,Low,52.862914,8.275487,4,50.000000,50.878989

In [5]:
#separating features and target
features = np.array(
    [
        'ParentalSupport',
        'PreviousGrade',
        'StudyHoursPerWeek',
        'ExtracurricularActivities',
        'AttendanceRate',
    ]
)
target = np.array(['FinalGrade'])

In [6]:
x = data[features]

y = data[target]

In [7]:
#declaring new instance of labelEncoder
label = LabelEncoder()

encodingList = ['ParentalSupport']

for i in encodingList:
    x[i] = label.fit_transform(x[i])

C:\Users\user\AppData\Local\Temp\ipykernel_22628\3187118049.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i] = label.fit_transform(x[i])

In [8]:
display(x)

,ParentalSupport,PreviousGrade,StudyHoursPerWeek,ExtracurricularActivities,AttendanceRate
0,2,77.483571,24.996777,1,61.248217
1,1,49.308678,16.623168,0,53.554813
2,0,88.238443,25.298152,5,62.075801
3,1,57.615149,8.765316,1,50.000000
4,2,73.829233,21.491117,2,50.000000
...,...,...,...,...,...
995,0,83.594499,30.350751,2,76.774805
996,2,83.988433,17.867394,5,62.577525
997,1,53.204214,7.590627,2,50.000000
998,2,72.144105,17.184665,0,73.341764
999,1,52.862914,8.275487,4,50.000000

In [9]:
#initializing new instance of standard scaler
scaler = StandardScaler()

x = scaler.fit_transform(x)

In [10]:
#spliting features and target to train and test sets
x_train,x_test,y_train,y_test = train_test_split(x,y,train_size=0.2,random_state= 42)

print(x_train.shape)

(200, 5)

In [11]:
#model train and prediction
model = LinearRegression()

model.fit(x_train, y_train)

prediction = model.predict(x_test)

In [12]:
from sklearn.metrics import r2_score, mean_squared_error

In [13]:
#Mean Squared error
print(mean_squared_error(y_test, prediction))

28.075751199754322

In [14]:
#R2 Score
print(r2_score(y_test, prediction))

0.9243161104076018

In [15]:
#testing using new data
testdata = np.array([[2, 20, 29, 1, 60]]) 

testdata = scaler.transform(testdata)

print(testdata.shape)

testprediction = model.predict(testdata)

(1, 5)

d:\fnclick\python\academicperfomanceprediction\env\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [16]:
print(testprediction)

[[57.96272746]]

In [17]:
import joblib

#saving model
joblib.dump(model, 'models/academicperformanceprediction.pkl')

['models/academicperformanceprediction.pkl']

In [18]:
#saving standardScalar value
joblib.dump(scaler, 'models/scaler.pkl')

['models/scaler.pkl']

In [19]:
#saving labelEncoder value
joblib.dump(label, 'models/labelEncoder.pkl')

['models/labelEncoder.pkl']